<div class="panel panel-default"> 
    <b class="col-md-6">Venue</b>
    <b class="col-md-6" > Ubicación </b>
    <div class="panel-body">
        <div class="row">
            
            <div class="col-md-4">
                <div class="thumb">
                    <img class="img-responsive" ng-src="{{currentVenue.imagen}}"/>
                </div>
            </div>
            <div class="col-md-3">
                <dl> 
                    <dt>{{currentVenue.nombre}}</dt>
                    <hr>
                    <dt>Tipo</dt>
                    <dd>{{currentVenue.tipo}}</dd>
                    
                    <dt>Capacidad</dt>
                    
                    <dd>{{currentVenue.capacidadMax}}</dd>
                    
                    <dt class="bold">Dirección</dt>
                    <dd>{{currentVenue.direccion}}</dd>
                    
                    <dt class="bold">Ciudad</dt>
                    <dd>{{currentVenue.ciudadDTO.nombre}}</dd>
                   
                    
                    <dt><b> Festival que se realiza aquí </b></dt>
                    <a ui-sref="festivalDetail({festivalId:currentVenue.festivalDTO.id})">{{currentVenue.festivalDTO.nombre}}</a>
                    </dl>
             
                </div>
            
            <div class ="thumb col-md-5" >
                 <div class="thumb">
                    <img class="img-responsive" ng-src="{{currentVenue.mapa}}"/>
                </div>
                
            </div>
            
            
            <div class ="thumb col-md-12" >
                 <div class="thumb">
                   <b class="col-md-6"> PRÓXIMAS FUNCIONES QUE SE REALIZARÁN ACÁ:</b>
                </div>
            </div>
            
            <div class="col-md-4">
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th>Función</th>
                        <th>Fecha</th>
                        <th>Entradas disponibles</th>
                        <th>Duración</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="funcion in funcionesRecords|filter: currentVenue.nombre">
                        <a ui-sref="funcionDetail({funcionId: funcion.id})"> 
                            <img class="img-responsive" ng-src ='{{funcion.imagen}}' alt = "{{funcion.id}}"/>
                        </a>
                <td id="{{$index}}-description"><a ui-sref="funcionDetail({funcionId: funcion.id})"><img class="imgagencita" ng-src ='{{funcion.imagen}}' alt = "{{funcion.id}}"/></a></td>
                        <td id="{{$index}}-description"><a ui-sref="funcionDetail({funcionId: funcion.id})">{{funcion.fecha|date:'yyyy-MM-dd'}}</a></td>
                        <td id="{{$index}}-description"><a ui-sref="funcionDetail({funcionId: funcion.id})">{{funcion.entradasDisponibles}}</a></td>
                        <td id="{{$index}}-description"><a ui-sref="funcionDetail({funcionId: funcion.id})">{{funcion.duracion + " minutos"}}</a></td>
                </tbody>
            </table>
            </div> 
            <div row>
                <button class="botonAgregar botonAgregar1" style="float: right;"ui-sref="venueUpdate({venueId: currentVenue.id})">Actualizar Venue</button>
                <button class="botonAgregar botonAgregar1" style="float: right;"ng-click="deleteVenue()">Borrar Venue</button>
            </div>
        </div>   
    </div>
    
</div>