<button id="login-btn" ng-hide="isAuthenticated()" type="button" class="btn btn-default navbar-btn" ng-click="goToLogin()">
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Login
</button>

<div ng-show="isAuthenticated()" class="btn-group">
    <button id="menu-btn" type="button" class="btn btn-default dropdown-toggle navbar-btn" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
        {{currentUser.userName}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li ng-repeat="menuitem in menuitems">
            <a ui-sref='{{menuitem.state}}'><span class='glyphicon glyphicon-{{menuitem.icon}}' aria-hidden='true'></span> {{menuitem.label}}</a></li>
        </li>
        <li>
            <a href ng-click="logout()">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout
            </a>
        </li>
    </ul>
</div>

