
<div>
    <div class="col-md-5 col-md-offset-4">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="authCtrl.closeAlert($index)">{{alert.msg}}</alert>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Please Register</h3>
            </div>
            <div class="panel-body">
                <div ng-messages="loginform.$error" ng-show="(loginform.$error.required || loginform.email.$invalid || loginform.confirmpassword.$error || loginform.$error.minlength) && loginform.username.$touched">
                    <div ng-message="required">
                        <alert type="danger" close="">
                            Please, Fill the required fields!
                        </alert>
                    </div>
                    <div ng-message="minlength">
                        <alert type="danger" close="">
                            Your password must be 6 and 10 characters long!
                        </alert>
                    </div>
                    <div ng-message="email">
                        <alert type="danger" close="">
                            Your email address is invalid!
                        </alert>
                    </div>
                    <div ng-message="pattern">
                        <alert type="danger" close="">
                            Passwords must be equals !!
                        </alert>
                    </div>
                </div>
                <form novalidate name="loginform" accept-charset="UTF-8" role="form" ng-submit="loginform.$valid && authCtrl.register(user)">
                    <fieldset>
                        <div class="form-group" ng-class="{'has-success': loginform.username.$valid && loginform.name.$dirty, 'has-error': loginform.name.$invalid && loginform.$submitted }">
                            <input id="username-input" class="form-control" required ng-model="user.userName" placeholder="Username" name="username" type="text">
                        </div>
                        <div class="form-group" ng-class="{'has-success': loginform.password.$valid && loginform.password.$dirty, 'has-error': loginform.password.$invalid && loginform.$submitted }">
                            <input id="password-input" class="form-control" minlength="6" required ng-model="user.password" placeholder="Password" name="password" type="password" >
                        </div>
                        <div class="form-group" ng-class="{'has-success': loginform.confirmpassword.$valid && loginform.confirmpassword.$dirty, 'has-error': loginform.confirmpassword.$invalid && loginform.$submitted }">
                            <input id="comfirm-password-input" class="form-control" minlength="6" required ng-model="user.confirmPassword" ng-pattern="{{user.password}}" placeholder="Confirm Password" name="confirmpassword" type="password" >
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-6" ng-class="{'has-success': loginform.firstname.$valid && loginform.firstname.$dirty, 'has-error': loginform.firstname.$invalid && loginform.$submitted }">
                                <input id="given-name-input" class="form-control" align="left" required ng-model="user.givenName" placeholder="First name" name="firstname" type="text" >
                            </div>
                            <div class="form-group col-xs-6" ng-class="{'has-success': loginform.middlename.$valid && loginform.middlename.$dirty, 'has-error': loginform.middlename.$invalid && loginform.$submitted }">
                                <input id="middle-name-input" class="form-control" align="right" ng-model="user.middleName" placeholder="Middle name" name="middlename" type="text" >
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-success': loginform.lastname.$valid && loginform.lastname.$dirty, 'has-error': loginform.lastname.$invalid && loginform.$submitted }">
                            <input id="last-name-input" class="form-control" required ng-model="user.surName" placeholder="Last Name" name="lastname" type="text" >
                        </div>
                        <div class="form-group">
                            <label> Please select your roles: </label><br>
                            <!--<select class="form-control" ng-options="rol as value.label for value in roles" name="SelectRole" ng-model="user.role" required></select>-->
                            <div class="row">
                                <div class="col-xs-6" ng-repeat="(key,value) in roles">
                                    <p><strong> {{key}} </strong></p><input ng-required="isCheckRequired(user.roles)" type="checkbox" name="roles" checklist-model="user.roles" checklist-value="key" ng-class="{'has-success': loginform.roles.$valid && loginform.roles.$dirty, 'has-error': loginform.roles.$invalid && loginform.$submitted }">
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-success': loginform.email.$valid && loginform.email.$dirty, 'has-error': loginform.email.$invalid && loginform.$submitted }">
                            <input id="email-input" class="form-control" required ng-model="user.email" placeholder="email" name="email" type="email" >
                        </div>
                    </fieldset>
                    <input id="register-btn" class="btn btn-lg btn-primary btn-block" type="submit" value="Register">
                </form>
                <input class="btn btn-lg btn-default btn-block" ng-click="authCtrl.goBack()" type="submit" value="Go Back">
                <div class="spinner text-center" ng-show="loading">
                    <img src="http://www.lectulandia.com/wp-content/themes/ubook/images/spinner.gif" alt="Loading" style="width:48px;height:48px;">
                </div>
            </div>
        </div>
    </div>
</div>

