
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="container-fluid">
    <br/>


    <div class =" rowizquierda">
        <div class="col-md-4">
            <div class="dropdown">
                <button onclick="mostrarGeneros()" class="dropbtn ">Género</button>
                <div id="dropGenero" class="dropdown-content">
                    <a ng-repeat="generoa in generosRecords" ui-sref ="festivalGenList({genero: generoa.id})">{{generoa.nombre}}</a>
                    <a ui-sref ="festivalesList">Todos</a>
                </div>
            </div>
        </div>

    </div>
    <br>    <br>
    <br>

    <div class="row ">
        <br>
        <table class="table table-hover ">
            <thead>
                <tr>
                    <th>Festival</th>
                    <th>Nombre</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="festival in festivalesRecords">
                    <td id="{{$index}}-name">                    
                        <a ui-sref ="festivalDetail({festivalId: festival.id})">
                            <img class="img-responsive col-sm-6 col-md-6" ng-src="{{festival.imagen}}" alt="{{festival.nombre}}" /> 
                        </a>
                    </td>
                    <td id="festNombre" class="col-sm-2 col-md-2">
                        <a ui-sref ="festivalDetail({festivalId: festival.id})">
                            <b>{{festival.nombre}}</b>
                        </a>

                    </td>
                    <td id="festFecha"class="col-sm-4 col-md-4"><b>{{festival.fechaInicio|date:'yyyy-MM-dd'}}</b></td>

                </tr>
            </tbody>
        </table>

    </div>
    <div class="row">
        <button class="botonAgregar botonAgregar1" style="float: right;"ui-sref="festivalInsert">Agregar festival +</button>
    </div>
</div>


