<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class ="container-fluid">
    <div class ="col-sm-12">
        <table class ="table table-striped">
            <thead>
                <tr>
                    <th>Reviews</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="review in reviewsRecords">
                    <td id="{{$index}}-id"><b>{{review.clienteDTO.nombre+": "}}</b>
                        {{review.descripcion}}
                      
                    </td>
                </tr>
                
            </tbody>
        </table>
          <div class="col-sm-6 col-md-6 "><b><font>Nombre del cliente</font></b></div>
          <div class="col-sm-6 col-md-6"> <input type="text" name="Nombre cliente" id="nombreCliente" ng-model="review.nombre"></div>
          <div class="col-sm-6 col-md-6 "><b><font>Comentario</font></b></div>
          <div class="col-sm-6 col-md-6"><textarea name="message" id="texto" rows="5" cols="30" ng-model="review.description"></textarea></div>
           <div class="centro"> <input type="submit" value="Agregar Review" ng-click="postReview()"></div>
          
          
    </div>
</div>